@import '../scss/fonts';

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p {
    margin: 0;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

@import 'blocks/main';
@import 'blocks/advantages';
@import 'blocks/footer';
@import 'blocks/modal';

@import '../scss/_media';